@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;


}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  

  }
}


.bg-animated {
  background:linear-gradient(105deg, rgba(3,1,1,1) 0%, rgba(28,26,26,1) 100%, rgba(18,18,18,1) 100%);
  animation: gradientMove 10s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.section {
  position: relative;
  overflow: hidden;
}




button,
a,
div,
input,
textarea {
  position: relative;
  overflow: hidden;
}



/* Ripple animation */

@media (max-width: 768px) {
  .hidden-mobile {
    display: none;
  }
}

@keyframes moveLight {
  0% {
    transform: translateX(-200px) translateY(0px);
  }
  50% {
    transform: translateX(100vw) translateY(100px);
  }
  100% {
    transform: translateX(-200px) translateY(0px);
  }
}


body {
  color: var(--foreground);
  font-family: 'Poppins';
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
